.entire-update-actor {
  background-image: url(https://64.media.tumblr.com/2bd546bbc72da9a8ccf251922b1e05ac/tumblr_mqpoziggwt1s5jjtzo1_640.gif);
  height: 100%;
  /* width: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.update-actor-header {
  text-align: center;
  color: rgb(210, 157, 171);
}

.update-actor-title,
.update-actor-debutyear {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.update-actor-label {
  font-size: 19px;
  color: rgb(210, 157, 171);
  margin-bottom: 10px;
}

.update-actor-title input,
.update-actor-debutyear input {
  border: none;
  padding: 10px;
  border-radius: 15px;
}

.update-actor-bio {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.update-actor-bio textarea {
  border: none;
  height: 100px;
  border-radius: 15px;
  padding: 10px;
}

.update-actor-submit {
  display: flex;
  justify-content: center;
}

.update-actor-submit button {
  border: none;
  padding: 10px;
  width: 200px;
  height: 40px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 157, 171);
  color: white;
  border-radius: 15px;
  font-family: "Kosugi Maru", sans-serif;
}

.update-actor-submit button:hover {
  background-color: white;
  color: rgb(210, 157, 171);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.update-actor-errors {
  color: red;
  font-size: 15px;
  margin-left: 10px;
}
