.entire-single-drama {
  margin: 50px 100px;
}

.single-drama-body {
  display: flex;
  border: 3px solid rgb(210, 157, 171);
  border-radius: 15px;
  background-color: rgb(233, 207, 215);
  padding: 40px;
  color: rgb(210, 157, 171);
}

.single-drama-img {
  width: 350px;
  height: 450px;
  border-radius: 10px;
}

.single-drama-info {
  margin-left: 30px;
  /* border: 1px solid blue; */
  background-color: rgb(240, 223, 228);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.single-drama-title {
  font-size: 40px;
}

.single-drama-desc {
  font-size: 20px;
  margin-bottom: 20px;
}
