body {
  background-color: rgb(240, 223, 228);
  font-family: "Kosugi Maru", sans-serif;
  margin-bottom: 30px;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.logo {
  width: 200px;
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.nav-dramas {
  margin-right: 30px;
  text-decoration: none;
}

.nav-linky {
  text-decoration: none;
  color: rgb(210, 157, 171);
  font-size: 20px;
}

.nav-linky:hover {
  color: white;
  cursor: pointer;
}

.profile-button {
  border: none;
  background-color: transparent;
}

.profile-button-heart {
  width: 35px;
}

.profile-button-heart:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.user-dropdown-info {
  background-color: rgb(210, 157, 171);
  position: absolute;
  z-index: 999;
  margin-left: -165px;
  top: 20px;
  width: 150px;
  height: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 5px;
  border-radius: 15px;
  color: white;
}

.user-dropdown-info li {
  margin-bottom: 15px;
}

.user-username {
  margin-top: 10px;
}

.user-dropdown-navlink {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 10px 40px;
  width: 160px;
}

.user-dropdown-logout {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.user-dropdown-navlink:hover {
  color: rgb(210, 157, 171);
  background-color: white;
  transition: background-color 0.3s ease-in;
  border-radius: 15px;
  width: 160px;
  cursor: pointer;
}

.user-dropdown-logout button {
  border: none;
  width: 140px;
  /* padding: 10px 40px; */
  border-radius: 15px;
  font-family: "Kosugi Maru", sans-serif;
  color: white;
  font-size: 18px;
  margin-bottom: -10px;
  background-color: transparent;
  height: 40px;
  /* width: 100px; */
}

.user-dropdown-logout button:hover {
  background-color: rgb(240, 223, 228);
  color: red;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s ease-in;
}

.nav-pb {
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 20%; */
  padding: 5px;
  /* border: 2px solid red; */
  /* width: 240px; */
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.signup button,
.login button {
  /* border: 1px solid pink; */
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 30px; */
  width: 100px;
  height: 40px;
  /* padding: 10px; */
  border-radius: 20px;
  background-color: transparent;
  font-family: "Kosugi Maru", sans-serif;
  color: white;
  font-size: 18px;
  /* margin-top: -0px; */
}

.signup button:hover,
.login button:hover {
  background-color: white;
  color: rgb(210, 157, 171);
  transition: background-color 0.3s, color 0.3s ease-in-out;
  transform: scale(1.05);
  cursor: pointer;
}

.signup {
  border-right: 1px solid rgb(210, 157, 171);
}
