.entire-create-drama {
  background-image: url(https://64.media.tumblr.com/2bd546bbc72da9a8ccf251922b1e05ac/tumblr_mqpoziggwt1s5jjtzo1_640.gif);
  height: 100%;
  /* width: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.create-background {
  background-color: rgba(233, 207, 215, 0.723);
  padding: 20px 50px;
  border-radius: 20px;
}

.create-drama-header {
  text-align: center;
  color: rgb(210, 157, 171);
}

.create-drama-title,
.create-drama-img,
.create-drama-releaseyear,
.create-drama-genre,
.create-drama-trailer,
.create-drama-desc {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.create-drama-label {
  font-size: 19px;
  color: rgb(210, 157, 171);
  margin-bottom: 10px;
}

.create-drama-title input,
.create-drama-img input,
.create-drama-releaseyear input,
.create-drama-genre input,
.create-drama-trailer input {
  border: none;
  padding: 10px;
  border-radius: 15px;
}

.create-drama-desc textarea {
  border: none;
  height: 50px;
  border-radius: 15px;
  padding: 10px;
}

.create-drama-submit {
  display: flex;
  justify-content: center;
}

.create-drama-submit button {
  border: none;
  padding: 10px;
  width: 200px;
  height: 40px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 157, 171);
  color: white;
  border-radius: 15px;
  font-family: "Kosugi Maru", sans-serif;
}

.create-drama-submit button:hover {
  background-color: white;
  color: rgb(210, 157, 171);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.create-drama-errors {
  color: red;
  font-size: 15px;
  margin-left: 10px;
}
